{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~/ui": "./ui",
          "~/hocs": "./hocs",
          "~/lib": "./lib"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    ["ramda"],
    [
      "react-intl",
      {
        "messagesDir": "lang/.messages/"
      }
    ]
  ]
}
